body{
    background: #F3F3F3;
}

.navbar{
     background-color: #F7F7F7;
     padding-top: 10px;
}

.nav{
     margin-bottom: 12px;
}
.nav-item {
    display: inline-block;
    margin-right: 25px;
}

.nav-item:last-child {
    margin-right: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: transparent;
}
.navbar-nav> li >a{
    position: relative;
}

 .active a:before{
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 15px;
    width: 20px;
    background: #000;

}

.nav>li>a {
    color: black; 
}
.nav>li>a:hover{
    color: black;
}